name: Go CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:12
        env:
          POSTGRES_DB: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_PORT: 5432
          POSTGRES_USER: postgres
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.18
    
    - name: Set up postgres
      run: |
        apt-get update
        apt-get install --yes --no-install-recommends postgresql-client
        PGPASSWORD=postgres psql postgres -h localhost -d postgres -f ./resources/ddl-database.sql

    - name: Set up env
      run: |
        bash setup-env.sh
        go mod download

    - name: Build
      run: go build -v ./...

    - name: Test
      run: go test -v ./...
